<form method="post" action="{{ path('app_anexo_delete', {'id': anexo.id}) }}" onsubmit="return confirm('Deseja deletar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anexo.id) }}">
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
