<form method="post" action="{{ path('app_tarefas_delete', {'id': tarefa.id}) }}" onsubmit="return confirm('Deseja deletar este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarefa.id) }}">
    <button class="btn btn-outline-danger">Deletar</button>
</form>
